.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

h2 {
  margin-bottom: 15px;
  font-family: Georgia, serif;
}

.available-rentals {
  margin: 0;
  padding: 0;
}

.available-rentals h1{
  text-align: center;
  text-decoration: underline;
  font-family: Garamond;
  margin: 0 0 5px 0;
  color: rgb(0, 80, 0);
}

.available-rentals h5{
  text-align: center;
  margin: 1px 0 30px 0;
  color: rgb(0, 80, 0);
}

.each-rental-property {
  width: 27%;
  text-align: center;
  background-color: rgb(229, 229, 229);
  border: solid gray 1px;
  border-radius: 10%;
  margin: 0 10px;
  cursor: pointer;
}

.each-rental-property:hover {
  background-color: rgb(193, 192, 192);;
}

.productImage {
  width: 80%;
  border-radius: 20%;
  box-shadow: 1px 1px 2px black, 0 0 20px rgb(0, 0, 89), 0 0 2px darkblue;
}

.productImage:hover {
  box-shadow: 1px 1px 20px white, 0 0 30px rgb(179, 179, 243), 0 0 20px rgb(204, 208, 253);
}

.rental-location {
  margin: 5px 0 0 0;
}

.rental-type {
  color: rgb(132, 132, 132);
  margin: 10px 0 0 20px;
  text-align: left;
}

.guest-rating {
  margin: 0 0 0 20px;
  text-align: left;
  color: rgb(132, 132, 132);
}

.reviews {
  color: black;
}

.host-info {
  margin: 10px 0 10px 20px;
  text-align: left;
}

.superhost {
  color: darkblue;
  background-color: rgb(186, 234, 246);
  margin-left: 15px;
}

.button-addToCart {
  padding: 1px 5px;
  border: solid 1px black;
  margin: 5px 0 5px 15px;
}

.shopping-cart {
  background-color: blanchedalmond;
  font-family: Garamond;
  float: right;
  width: 10%;
  height: 100%;
  padding: 0 35px 0 12px;
  margin-right: 5px;
  text-align: center;
  font-size: 12pt;
  border: double 1px black;
  position: fixed;
  right: 0;
  top: 20px;
}

.shopping-cart h3 {
  font-family: Georgia, serif;
  text-decoration: underline;
  font-size: larger;
  margin-bottom: 10px;
}

/* .shopping-cart-column1 {
  width: 45%;
} */

.clear-cart, .delete-button {
  padding: 1px 5px;
  border: solid 1px darkred;
  color: darkred;
  margin: 0 0;
}

.clear-cart:hover {
  box-shadow: 1px 1px 5px darkred, 0 0 10px red, 0 0 5px rgb(247, 95, 95);
  border: solid 1px darkred;
  font-weight: bold;
  font-size: larger;
}

.shopping-cart hr {
  width: 70%;
  margin: 0 auto;
}

ul {
  margin-left: 3px;
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 14px;
  text-align: left;
}

.align-left {
  float: left;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: dotted 1px rgb(201, 171, 126);
}

.align-right {
  float: right;
}

.delete-button {
  float: right;
}

.delete-button:hover {
  background-color: darkred;
  color: rgb(255, 225, 225);
  border: solid 1px rgb(255, 225, 225);
}

.total-due {
  font-weight: bold;
  position: fixed;
  bottom: 3%;
}

.total-due h2 {
  margin: 0;
  background-color: rgb(245, 245, 245);
}

.total-due button {
  padding: 5px 15px;
  border: solid 2px black;
  margin: 10px auto;
  color: rgb(0, 80, 0);
  font-weight: bold;
  background-color: rgb(187, 232, 187);
}

.total-due button:hover {
  background-color: rgb(0, 80, 0);
  color: rgb(187, 232, 187);
}
