header {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  text-align: center;
}

header img{
  height: 155px;
  padding-top: 5px;
}

header img.title {
  padding-left: 25px;
}

body {
  background-color: black;
}

.linkToEachCharacter {
  text-align: center;
}

.linkToEachCharacter h2 {
  color: black;
  text-shadow: -1px 0 gold, 0 1px goldenrod, 1px 0 gold, 0 -1px goldenrod;
}
