header {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  text-align: center;
}

header img{
  height: 155px;
  padding-top: 5px;
}

header img.title {
  padding-left: 25px;
}

body {
  background-color: black;
}

.character-index {
  margin-top: 30px;
}

.linkToEachCharacter {
  text-align: center;
  margin: 20px;
  border: rgb(55, 203, 240) solid 1px;
  box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 lightblue;
  padding: 20px;
  width: 200px;
}

.linkToEachCharacter img {
  height: 200px;
}

.linkToEachCharacter h2 {
  color: black;
  text-shadow: -1px 0 gold, 0 1px goldenrod, 1px 0 gold, 0 -1px goldenrod;
}

.linkToEachCharacter:hover {
  background-color: rgb(23, 23, 23);
  cursor: pointer;
}

.character-info {
  width: 60%;
  text-align: center;
  border: double 1px gold;
  border-radius: 12px;
  margin: 200px auto;
  padding: 10px;
}

.character-info img {
  height: 300px;
}

p {
  color: gold;
  font-size: 16pt;
  font-family: "Papyrus";
}

.character-name {
  font-weight: bold;
  font-size: larger;
}
