html,
body {
  max-height: 90%;
  margin: 0;
  /* overflow: hidden; */
}

#root {
  max-width: 1280px;
  padding: 2rem 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div {
  width: 100%;
  padding-bottom: 30px;
}

.bottom-third {
  height: 30%;
}

h2 {
  text-align: left;
}

.for-you .eachArticle, .missed-it .eachArticle {
  border: solid 1px lightgray;
  display: inline-block;
  padding: 0;
  margin: 15px 15px 0 0;
}

.for-you .eachArticle{
  width: 45%;
}

.missed-it .eachArticle{
  width: 30%;
}

.articleInfo {
  margin: 3px 5px 10px 0;
  padding: 0;
}

.articleInfo p, .missed-it p{
  padding: 0;
  margin: 15px 0 0 0;
}

.for-you div {
  padding: 10px 0;
  color: rgb(126, 126, 126);
  height: 290px;
}

.missed-it div {
  margin: 10px 20px;
}

.for-you h2, .missed-it h2 {
  margin: 1px;
  color: black;
  line-height: 1;
}

.for-you .previewPic {
  float: left;
  margin-right: 30px;
  height: 100%;
  width: 40%;
  overflow: hidden;
}

.for-you .previewPic img{
  overflow: hidden;
}

.missed-it .previewPic {
  width: 100%;
  /* max-height: 100px; */
}

.for-you .bottomOfDiv, .missed-it .bottomOfDiv {
  color: rgb(126, 126, 126);
  margin-top: 30px;
  /* position: absolute;
  bottom: 0; */
}

.for-you .bottomOfDiv img, .missed-it .bottomOfDiv img {
  float: left;
  margin-right: 10px;
}

.for-you .bottomOfDiv h4, .missed-it .bottomOfDiv h4{
  padding-top: 8px;
  margin: 0 0 5px 0;
  font-size: 12pt;
  color: black;
}

.for-you .authorPic, .missed-it .authorPic {
  border-radius: 50%;
  height: 80px;
}

.for-you .bookmarkIcon, .missed-it .bookmarkIcon {
  float: right;
  height: 20px;
  width: 25px;
}

.for-you .bookmarkIcon img , .missed-it .bookmarkIcon img{
  float: right;
}
